


img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
}

/* styling the navgation bar */
#mainheader {
   background-color: royalblue; 
   height: 55; 
   font-size: x-large;
   color: white; 
}

/* styling the hamburger button */
#btnMenu {
    float:left;
    background-color: royalblue;
    border-color: transparent;
    margin-top: 0%;
    height: 50px;;

}
main{
    width: 10px;
}

nav {
    height: 55px;
    margin: 0 5px 20px;
    text-align: center;
    box-shadow: inset;

}

/* stylying the menu items */
div>ul>li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    color: white;
    font-size: xx-large;

}

/* stylying the menu */
#listMenu{
    height:600px;
    width: 80;
    margin-left: 0%;
    padding-right: 50px;
    padding-left: 0%;
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: royalblue;
    display: none;
}

h1{
    font-size: 35px;
    color:black;
    text-align: center;
}

#divLink{
    text-align: right;
}

#divText{
    background-color: bisque;
    text-align: center;
}
.btn-primary{
    background-color: blue;
    color: white;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: bisque;
}
#hRole{
    
    text-align: left;
}